ion-view.characters(view-title='Characters')
    ion-content
        .bar.item-input-inset.characters__search-bar
            form.characters__form(name='crtSearchForm' novalidate ng-submit='vm.search()' autocomplete="off")
                label.item-input-wrapper
                    i.icon.ion-ios-search.placeholder-icon
                    input(type='search' placeholder='Name starts with…' name='name' ng-model='vm.filter'
                    spellcheck="false")
        .list
            .card.characters-card(ng-repeat="character in vm.characters track by character.id")
                .item.item-image(ui-sref='app.characterDetailInModal({character:character})')
                    div.characters-card__cover(ng-if="::character.thumbnailUrl" img-cache ic-bg="{{::character.thumbnailUrl}}")
                    div.characters-card__cover.characters-card__cover--not-found(ng-if="::!character.thumbnailUrl")
                .item.item-icon-right.assertive.characters-card__footer
                    i.icon(ng-click='vm.toggleFave(character)' ng-class="{'ion-android-favorite': character.favourite, 'ion-android-favorite-outline': !character.favourite}")
                    | {{::character.name}}
        .characters__footer
            ion-spinner(ng-if='vm.searching')
            button.button.button-block.button-assertive.characters__show-more(ng-click='vm.loadMore()' ng-show='vm.hasMoreData')
                | Show more
