.comic {
    &__content {
        padding: $content-padding;
    }
    &__meta {
        padding: $content-padding;
    }
    &__text {
        background-color: black;
        color: $light;
        font-size: 1.1rem;
        line-height: 2rem;
        padding: $content-padding/2 0;
        box-shadow: $content-padding 0 0 0 black, -$content-padding 0 0 0 black;
        &--price{
            font-weight: bold;
            background-color: $assertive;
            box-shadow: $content-padding 0 0 0 $assertive, -$content-padding 0 0 0 $assertive;
        }
    }
    &__background {
        background-size: cover;
        background-position: top center;
    }
}
