ion-modal-view.comic(ng-controller='ComicDetailController as vm')
    ion-header-bar.bar-assertive
        back-button(ng-click='vm.remove()')
        h1.title {{::vm.comic.title}}
        .buttons
            button.button.button-clear.icon.ion-image(ng-click='::vm.toggleContent()')
            button.button.button-clear.icon.ion-link(ng-click='::vm.openDetailPage()')
    ion-content.comic__content.comic__background(jd-ic-src='{{::vm.comic.thumbnailUrl}}' hide-content="{{vm.hideContent}}")
        .comic__meta
            span.comic__text {{::vm.comic.title}}
            br
            br
            span.comic__text(ng-if='::vm.comic.printPrice') {{::vm.comic.printPrice}} $
            br
            br
            span.comic__text.comic__description(ng-bind-html='::vm.comic.description | html2text')


