# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

doc/*
!doc/screens
!doc/readme
.idea/
node_modules/
platforms/
plugins/
.tmp/
vendor/*
!vendor/md5
www/*
