.character {
    &__content {
        padding: $content-padding;
    }
    &__meta {
        padding: $content-padding;
    }
    &__text {
        background-color: black;
        color: $light;
        font-size: 1rem;
        line-height: 1.4rem;
        padding: $content-padding/2 0;
        box-shadow: $content-padding 0 0 0 black, -$content-padding 0 0 0 black;
    }
    &__background {
        background-size: cover;
        background-position: top center;
    }
}

$coverWidth: 70vw;
.character-comic-list {
    margin: 1rem 0;
    &__title{
        margin: auto;
        text-align: left;
        width: $coverWidth;
        box-shadow: none;
        padding: $content-padding/2 $content-padding;
    }
    &__count{
        float: right;
        padding-left: $content-padding/2;
    }
    &__content {
        width: $coverWidth;
        height: $coverWidth * 850 / 560;
        margin: auto;
        background-color: rgba($dark, .5);
        &--centered{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $light;
            height: 2rem;
            font-weight: bold;
        }
    }
    &__cover{
        background-color: $media-background-color;
        background-size: cover;
        width: 100%;
        height: 100%;
        &--not-found{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            text-align: center;
        }
    }
}
.character .swiper-pagination-bullet{
    border: 2px solid black;
    background-color: white;
    width: 10px;
    height: 10px;
    &-active{
        background-color: $assertive;
    }
}
