.fave__meta{
    color: $light;
    text-transform: uppercase;
    font-size: 0.7rem !important;
}
.warning-banner{
    color: $light;
    font-weight: bold;
    background-color: $energized;
    padding: $content-padding;
    box-shadow: none;
}
.no-favourite{
    text-align: center;
    color: #999;
    text-shadow: 1px 1px 1px #EEE;
    font-weight: bold;
}
