ion-view(view-title='Favourites')
    ion-content
        ion-nav-view(name='app-favourites-detail')
        ion-list
            ion-item(ng-click='vm.navigate(fave)' ng-repeat="fave in vm.faves | orderBy:'name || title' track by fave.id")
                h2 {{fave.name || fave.title}}
                ion-option-button.button-assertive(ng-click='vm.deleteFave(fave)') Delete
