ion-modal-view
    ion-header-bar.bar-assertive
        h1.title Comics
        div.buttons
            button.button.button-clear.icon.ion-ios-close-empty(ng-click='vm.modal.hide()')
    ion-content
        | Hello!
