ion-view.character-comics(view-title='Comics')
    ion-content(delegate-handle='characterComicsHandle')
        .row.row-wrap
            .col-33.character-comics__cover-container(ng-repeat='comic in vm.comics track by $index')
                div.character-comics__cover-wrapper
                    img.character-comics__cover(ng-if='::comic.thumbnailUrlInPortraitUncanny' img-cache ic-src='{{::comic.thumbnailUrlInPortraitUncanny}}' width='100%' height='auto'
                    ui-sref='app.characterDetailComicDetail({comic:comic})')
                    img.character-comics__cover(ng-if='::!comic.thumbnailUrlInPortraitUncanny' width='100%' height='auto' ng-src='img/image-not-available_portrait-uncanny.png'
                    ui-sref='app.characterDetailComicDetail({comic:comic})')

        ion-infinite-scroll(on-infinite='vm.showMore()' distance='20%' immediate-check='false' ng-if='vm.hasMore')
