
body {
    font-family: $font-family-sans-serif;
}
ion-content > .scroll {
    transition: transform 500ms;
    will-change: transform;
}
.no-animation ion-content > .scroll {
    transition: none;
}
.spinner-wrapper{
    text-align: center;
}
