ion-view.settings(view-title='Settings')
    ion-content
        ion-list
            ion-toggle(ng-model='vm.settings.enableAnimations', toggle-class='toggle-positive')
                | Enable Animations
            ion-item(ng-click='vm.clearCache()')
                button.button.button-assertive.button-small.button-block
                    span(ng-if='vm.clearing') Clearing…
                    span(ng-if='!vm.clearing') Clear cache
        .settings__credits.padding Data provided by Marvel. © 2014 Marvel
