.characters{
    &__form{
        width: 100%;
    }
    &__footer{
        text-align: center;
        margin: $content-padding $content-padding $content-padding*2 $content-padding;
    }
    &__item-cover{
        background-color: #CCC;
        object-fit: cover;
        object-position: center;
    }
}
.platform-ios.platform-cordova .characters{
    &__footer{
        // Bugfix iOS
        // margin-bottom is not respected.
        transform: translateY(-10px);
    }
}
