ion-view.character.character__background(view-title='{{::vm.character.name}}' img-cache ic-bg='{{::vm.character.getThumbnailUrl()}}')
    ion-content.character__content
        .character__meta
            span.character__text.character__title {{::vm.character.name}}
            br
            br
            span.character__text.character__description {{::vm.character.description}}
        button.button.button-assertive.button-block.character__details(ng-click='::vm.openDetailPage()')
            | Read more
