ion-view.crt(view-title='Characters')
    ion-content.has-tabs
            .list.card(ng-repeat="character in vm.characters track by character.id")
                .item.item-image
                    img(ng-src="{{character.getThumbnailUrl()}}")
                .item.item-icon-right.assertive
                    i.icon.ion-android-favorite-outline(ng-click='vm.keep()')
                    | {{character.name}}
